{% extends 'base.html.twig' %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('build/homepage.index.css') }}">{% endblock %}
{% block title %}Bad!{% endblock %}

{% block body %}
    {{ include('_menu.html.twig') }}

    <div class="container">

        <div class="starter-template">
            <h1>Questions / Answers</h1>
            {% for question in questions %}
                <h2> {{ question.content }} <i class="fa fa-question"></i></h2>
                <p class="lead"> {{ question.answer.content }} <i class="fa fa-reply"></i></p>
            {% endfor %}
        </div>

    </div><!-- /.container -->
{% endblock %}